<div class="post-card four" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
  <a href="{{ person.url | relative_url }}">
    {% if person.photo %}
      <figure class="post-card__thumb">
        <img
          src="{{ site.baseurl }}/assets/img/people/{{person.photo}}_thumb.jpg"
          alt="{{person.title}}"
        />
      </figure>
    {% else %}
      <figure class="post-card__thumb">
        <div class="dark-bg"></div>
      </figure>
    {% endif %}
  </a>
  <a class="post-card__inner" href="{{ person.url | relative_url }}">
    <div class="post-card__header">
      <h2>{{ person.name | strip_html | truncate: 50 }}</h2>
    </div>
    {% if person.summary %}
      <p>{{ person.summary | strip_html | truncatewords:20 }}</p>
    {% else %}
      <p>{{ person.description | strip_html | truncatewords: 20 }}</p>
    {% endif %}
  </a>
</div>
