<div class="shop-card" itemprop="" itemscope="" itemtype="http://schema.org/Offer">
  <a href="{{ item.url | relative_url }}">
    {% if item.image %}
      <figure class="shop-card__thumb">
        <img
          itemprop="image"
          style="object-fit: cover; object-position: 50% 38%"
          src="{{ site.baseurl }}/assets/img/shop/{{item.image}}_thumb.jpg"
          alt="{{item.title}}"
        />
      </figure>
    {% else %}
      <figure class="shop-card__thumb">
        <div class="dark-bg"></div>
      </figure>
    {% endif %}
  </a>
  <a class="shop-card__inner" href="{{ item.url | relative_url }}">
    <div class="shop-card__header">
      <h2>{{ item.name | strip_html | truncate: 50 }}</h2>
      <span class="shop-card__meta">
        <span class="price-display" data-price="{{item.price}}"></span>
      </span>
    </div>
    {% if item.summary %}
      <p>{{ item.summary | strip_html | truncatewords:20 }}</p>
    {% else %}
      <p>{{ item.description | strip_html | truncatewords: 20 }}</p>
    {% endif %}
  </a>
</div>
