<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container" style="width: auto; position: absolute; top: 2px">
          {% include logo.svg %}
        </div>
      </a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          {% for item in site.navigation %}
            <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
              <span itemprop="name">{{ item.name }}</span>
            </a>
            {% if item.name == "Shop" %}
              <a class="header__link" href="{{ 'cart' | relative_url }}" itemprop="url">
                <span itemprop="name"><i class="fas fa-shopping-cart"></i><span id="cart-count"></span></span>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
