<div class="person-block" itemscope="" itemtype="http://schema.org/Person">
  <a href="{{ person.url | relative_url }}">
    <figure class="person-block__thumb">
      <img
        itemprop="image"
        src="https://secure.gravatar.com/avatar/{{person.gravatar}}?s=210"
        alt="{{person.name}}"
      />
    </figure>
  </a>
  <a class="person-block__inner" href="{{ person.url | relative_url }}">
    <div class="person-block__header">
      <h2>{{ person.name | strip_html | truncate: 50 }}</h2>
    </div>
    {% if person.summary %}
      <p>{{ person.summary | strip_html | truncatewords:20 }}</p>
    {% else %}
      <p>{{ person.description | strip_html | truncatewords: 20 }}</p>
    {% endif %}
  </a>
</div>
