---
layout: page
---


<div class="shop-block">
    <div class="shop-image">
        <img src="{{ site.baseurl }}/assets/img/shop/{{page.image}}.jpg" onerror="this.src='https://placedog.net/400/300'">
    </div>
    <div class="shop-controls">
        <h1>{{ page.name }}</h1>
        <div class="price-display" data-price="{{ page.price }}"></div>
        <p>{{ page.summary }}</p>
        <button id="add-to-cart" class="btn"
            data-name="{{ page.name }}"
            data-price="{{ page.price }}"
            data-url="{{ page.url }}"
            data-img="{{ page.image }}">Add to cart</button>
    </div>
</div>

<hr>

{{ content }}