---
layout: page
---

{{ content }}


<h3>What's Included?</h3>

<ul>
<li>A pre-visit survey – here you will describe what concerning behaviors you are seeing, what changes you like to see and any other relevant information we might need.</li>
<li>In home visit – we’ll meet, evaluate your dogs behaviors and discuss training options.</li>
<li>Personalized training plan – based on the evaluation, we will design a custom training plan that works for you and your dog to help you get the results you want.</li>
<li>Unlimited email support</li>
</ul>

<h3>Prices & Options</h3>
<ul>
  <li>Consultation & Assessment Session (First Session) – 1.5 hr for $50</li>
  <li>All future sessions – 1 hr for $40</li>
  <li>Package deals:
    <ul>
      <li>3 Sessions for $100</li>
      <li>Please contact us for pricing if you’d like bulk buy a different number of sessions.</li>
    </ul>
  </li>
</ul>

<p><em>The fees from these sessions are donations to the Underdog’s Triumph non-profit organization and will go towards helping other lost, abandoned, abused or neglected canines in the area.</em></p>
